boto3==1.9.71
botocore==1.12.71
cfn-flip==1.1.0.post1
click==6.7
colorama==0.3.7
decorator==4.3.0
docutils==0.14
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
networkx==2.1
packaging==16.8
pyparsing==2.3.0
python-dateutil==2.7.5
PyYAML==5.4
s3transfer==0.1.13
sceptre==2.0.1
six==1.11.0
troposphere==2.3.4
urllib3==1.24.1
